<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="JetEntityFrameworkProvider" invariant="JetEntityFrameworkProvider" description="JetEntityFrameworkProvider" type="JetEntityFrameworkProvider.JetProviderFactory, JetEntityFrameworkProvider, Version=6.0.0.0, Culture=neutral, PublicKeyToken=756cf6beb8fe7b41" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=Construction.accdb; Persist Security Info=False;"
         providerName="JetEntityFrameworkProvider"/>
  </connectionStrings>
</configuration>